@import './colors';

// footer
.footer {
	.footer-icon {
		color: $gray-1;
		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.footer-mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 1rem 1rem 0 0;
	box-shadow: 0px 0px 3px 3px rgba(196, 196, 196, 0.25);
	position: relative;

	.btn-tutoria {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: $blue-normal;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 40%;
		top: -60%;
		cursor: pointer;
		text-decoration: none;

		img,svg {
			width: 3.14rem;
			height: 2.68rem;
		}

		p {
			margin-top: -10px;
			font-size: 12px;
		}
		
	}

	.footer-mobile-icon {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $gray-1;
			text-align: center;
			padding-top: 0.5rem;
			width: 90%;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

//new
.new-footer-fixo {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	padding: 0.5rem;
	border-radius: 12px 12px 0 0;
	background-color: $white;
	box-shadow: 0px -3px 3px rgba(196, 196, 196, 0.5);

	.new-footer-box {
		display: flex;
		gap: 1rem;
	}

	.new-footer-icon {
		flex: 1;
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;
			color: $gray-1;
			font-size: 0.8rem;
		}
	}
}
