@import './colors';

// prova
.info-prova {
	.fonte-prova {
		font-style: italic;
		color: $gray-1;
		text-align: right;
	}
}

.question-nav {
	.arrow {
		color: $black-1;
		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.img-redacao {
	border: 1px solid $purple-normal;
	border-radius: 1rem;
	padding: 0.5rem;
	margin-bottom: 1rem;

	img {
		max-width: 100%;
	}
}
